body {
	background: url("../../assets/images/winnie1.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	font-family: 'Pooh', 'Walter Turncoat', cursive;
	font-weight: bold;
}

.main-area {
	margin-top: 10%;
	font-size: large;
}

.img-answer {
	height: 250px;
	width: 450px;
}

.answer {
	width: 40%;
	text-align: center;
	margin: 2% 30%;
	padding-top: 7px;
	height: 45px;
	color: black;
	padding-left: 14px;
	background-color: #70af9a;
	border-radius: 4px;
}

.answer:hover {
  background: #ef7e1d;
}

@font-face {

   font-family: 'Pooh' ;
   src: url("../../assets/font/pooh.ttf") format('truetype');

}

@media only screen and (max-width: 768px) {
	.answer {
		width: 100%;
		margin: 3% 0;
	}
}

@media (min-width: 768px) {
	.answer {
		width: 50%;
		margin: 3% 25%;
	}
}

@media (min-width: 992px;) {
	.answer {
		width: 50%;
		margin: 3% 30%;
	}
}

@media (min-width: 1200px;) {
	.answer {
		width: 50%;
		margin: 3% 30%;
	}
}