body {
	background: url("../../assets/images/winnie1.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	font-family: 'Pooh', 'Walter Turncoat', cursive;
	font-weight: bold;
}

.main-area {
	margin-top: 10%;
	font-size: large;
}

.page-header {
	border-bottom: none;
}

.img-answer {
	height: 250px;
	width: 450px;
}

.answer {
	color: black;
	background-color: #70af9a;
}

.answer:hover {
  background: #ef7e1d;
}

.resetBtn, .startBtn {
	background-color: #70af9a;
	margin: 3% 42%;
}

@font-face {

   font-family: 'Pooh' ;
   src: url("../../assets/font/pooh.ttf") format('truetype');

}

@media only screen and (max-width: 768px) {
	.answer {
		width: 100%;
		margin: 3% 0;
	}

	.img-answer {
		width: 100%;
		height: auto;
	}

	.resetBtn, .startBtn {
		margin: 5% 42%;
	}
}

@media (min-width: 768px) {
	.answer {
		width: 50%;
		margin: 1% 25%;
	}
}

@media (min-width: 992px;) {
	.answer {
		width: 50%;
		margin: 3% 30%;
	}
}

@media (min-width: 1200px;) {
	.answer {
		width: 50%;
		margin: 3% 30%;
	}
}